/* Define the keyframes for the wiggle animation */
@keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
/* Apply the animation to buttons on hover */
button:hover {
    animation: wiggle 0.3s ease-in-out;
  }
  
button:active {
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  
button:focus {
    outline: none;
  }
  
button {
    transition: all 0.2s ease-in-out;
  }
  
/* Apply background and effect to webpage */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
  }
  
  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  /* Question CSS*/
  #question-section {
    display: none;
    justify-content: center;
    align-items: center;
  }

  #question-section button {
    transition: none;
  }

  /* Buttons without animation */
  .no-animation {
  animation: none !important;
  }

/* Search section */
#search-section {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#search-section form {
  display: flex;
  align-items: center;
}

#search-section input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

#search-section button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
}

/* Show search section when search button is clicked */
#search-section form {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

  @media screen and (max-width: 768px) {
    #question-section {
      flex-direction: column;
    }
  }

  .cardDeck{
    display: none;
    position: absolute;
    top: 40%;
    left: 10%;
  }

  .card {
    background-color: #02388b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* align-items: center;
    top: 45%;
    left: 45%;
    position: absolute; */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 1, 1, 0.984);
  }

  .card h4{
    padding: 5px;
  }

  .card img{
    height: 200px;
  }
  